//FOOTER STYLE STARTS FOOTER STYLE STARTS
footer {
	.wrapperAbout {
		text-align: center;
		padding-top: 125px;
		.container {
			display: flex;
			justify-content: space-between;
			.container__item {
				width: 33.33%;
			}
		}
		hr {
			margin-top: 65px;
		}
		.copyright {
			font-size: 0.7rem;
			text-transform: uppercase;
			letter-spacing: 1px;
		}
		.icons .fa {
			margin: 8px 0 30px 0;
			color: black;
		}
	}
	.footerTitleContainer {
		padding: 0 2%;
		position: relative;
		.transparentBox, .fa-instagram, h1, h2 {
			position: absolute;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		.transparentBox, .fa-instagram, h1 {
			top: 50%;
			z-index: 0;
		}
		h2 {
			line-height: 42px;
			top: 60px;
			z-index: 1;
		}
		.transparentBox {
			box-shadow: 1px 1px 20px #f3eaea;
			width: 210px;
			height: 210px;
			transform: translate(-50%, -50%) rotate(45deg);
		}
		.fa-instagram {
			font-size: 4.3rem;
			color: #f3eaea;
		}
		h1 {
			margin: 0;
			font-size: 1.15rem;
		}
	}
	.instagramContainer {
		display: grid;
		grid-template-column: 2fr;
		grid-template-rows: 2fr;
		grid-gap: 20px;
		.item {
			position: relative;
			overflow: hidden;
			font-size: 1rem;
			font-family: $tertiaryFont;
			text-align: left;
			color: white;
			img {
				display: block;
				width: 100%;
			}
			.overlay--instagram {
				background: rgba(0, 0, 0, 0.5);
				position: absolute;
				top: 100%;
				right: 0;
				bottom: 0;
				left: 0;
				padding: 6% 0 0 12%;
				transition: all 0.3s;
			}
			&:hover .overlay--instagram {
				top: 60%;
			}
		}
		.item1 {
			grid-column: 1;
			grid-row: 1;
		}
		.item2 {
			grid-column: 2;
			grid-row: 1;
		}
		.item3 {
			grid-column: 1;
			grid-row: 2;
		}
		.item4 {
			grid-column: 2;
			grid-row: 2;
		}
		.item5 {
			grid-column: 1;
			grid-row: 1;
		}
		.item6 {
			grid-column: 2;
			grid-row: 1;
		}
		.item7 {
			grid-column: 1;
			grid-row: 2;
		}
		.item8 {
			grid-column: 2;
			grid-row: 2;
		}
	}
}

@media (max-width: 1250px) {
	footer {
		.footerTitleContainer {
			.transparentBox, .fa-instagram, h1 {
				top: 80%;
			}
			.transparentBox {
				display: none;
			}
		}
		.instagramContainer {
			grid-gap: 10px;
		}
	}
}

@media (max-width: 880px) {
	footer {
		.footerTitleContainer {
			.transparentBox, .fa-instagram, h1 {
				top: 50%;
			}
			h2 {
				display: none;
			}
		}
		.instagramContainer {
			grid-gap: 5px;
			.item {
				font-size: 0.8rem;
			}
		}
	}
}
//FOOTER STYLE ENDS FOOTER STYLE ENDS